<a href="https://colab.research.google.com/github/NARAEIM/-/blob/main/n213a_regularized_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 3*

# ğŸ“ Assignment
---

# ğŸŒ± **ê¸°ë³¸ ê³¼ì œ**

ì´ë²ˆì—ëŠ” ë…¸íŠ¸ì—ì„œ ë‹¤ë£¨ì§€ ì•Šì€ ìƒˆë¡œìš´ ë°ì´í„°ì¸ [Melbourne Housing Market](https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market#:~:text=calendar_view_week-,MELBOURNE_HOUSE_PRICES_LESS,-.csv)ì„ ì‚¬ìš©í•˜ì—¬ ì •ê·œí™”ë¥¼ ì—°ìŠµí•´ ë³´ê² ìŠµë‹ˆë‹¤.

In [1]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.5.1.post0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)

## **Part 1. Preprocessing**

### **1-1. ë°ì´í„° ì „ì²˜ë¦¬**

- ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¨ í›„ ì „ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤.
  - ëª¨ë¸ë§ì„ í•˜ê¸° ì „ì— ì•„ë˜ í•­ëª©ì„ drop í•´ì£¼ì„¸ìš”.
    - íŠ¹ì„±
      - ë‚ ì§œ íŠ¹ì„±
      - ë²”ì£¼í˜• ë°ì´í„° ì¤‘ì—ì„œ ì¹´ë””ë„ë¦¬í‹°ê°€ 50ì´ ë„˜ëŠ” íŠ¹ì„±
    - í–‰
      - Price ë³€ìˆ˜ ê¸°ì¤€ ê²°ì¸¡ì¹˜ í–‰
      - ì¤‘ë³µë˜ëŠ” í–‰

#### **Q1. ì „ì²˜ë¦¬ í›„ ë°ì´í„°ì˜ shapeì„ ì œì¶œí•˜ì„¸ìš”.**

In [2]:
# ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. 

import pandas as pd

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/melbourne_house_prices/MELBOURNE_HOUSE_PRICES_LESS.csv')

In [3]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

In [5]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

# ë‚ ì§œ íŠ¹ì„± ì‚­ì œ
df= df.drop(columns='Date')
df.shape

(63023, 12)

In [6]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Postcode           int64
Regionname        object
Propertycount      int64
Distance         float64
CouncilArea       object
dtype: object

In [7]:
df.nunique()

Suburb             380
Address          57754
Rooms               14
Type                 3
Price             3417
Method               9
SellerG            476
Postcode           225
Regionname           8
Propertycount      368
Distance           180
CouncilArea         34
dtype: int64

In [8]:
df2=df[df.columns.difference(['Rooms','Price','Distance'])]
df2=df2.drop(columns=df2[['Address','SellerG', 'Suburb']])
df2.shape

(63023, 6)

In [9]:
df_clean = df.drop(columns = ['Address', 'SellerG', 'Suburb'])
df_clean.shape

(63023, 9)

In [10]:
# Priceì—´ì— ìˆëŠ” ê²°ì¸¡ì¹˜í–‰ ì œê±°
df_clean = df_clean.dropna(subset=['Price'], axis=0)

In [11]:
# ì¤‘ë³µí–‰ ì œê±°
df_clean = df_clean.drop_duplicates()
df_clean.shape

(42515, 9)

### **1-2. OneHotEncoder**
- ë°ì´í„° ë¶„ë¦¬
  - íŠ¹ì„±ê³¼ íƒ€ê²Ÿì„ ë¶„ë¦¬í•´ì£¼ì„¸ìš”.
  - `train_test_split()`ì„ ì‚¬ìš©í•˜ì—¬ ì „ì²´ ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ì£¼ì„¸ìš”. 
    - í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ëŠ” 8:2ì˜ ë¹„ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.
    - `random_state=2`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `train_test_split()`ì„ ì‚¬ìš©í•˜ì—¬ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ì£¼ì„¸ìš”.
    - í›ˆë ¨ê³¼ ê²€ì¦ ë°ì´í„°ëŠ” 8:2ì˜ ë¹„ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.
    - `random_state=2`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- OneHotEncoder
  - `category_encoders` ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•´ì„œ ì›í•«ì¸ì½”ë”©ì„ ìˆ˜í–‰í•˜ì„¸ìš”.

In [12]:
df_clean.columns

Index(['Rooms', 'Type', 'Price', 'Method', 'Postcode', 'Regionname',
       'Propertycount', 'Distance', 'CouncilArea'],
      dtype='object')

In [13]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

# íŠ¹ì„±ê³¼ íƒ€ê²Ÿì„ ë¶„ë¦¬
target = 'Price'
features = ['Rooms', 'Type', 'Method', 'Postcode', 'Regionname', 'Propertycount', 'Distance', 'CouncilArea']

In [14]:
# train, test ë°ì´í„° ë‚˜ëˆ„ê¸° 

from sklearn.model_selection import train_test_split
X = df_clean.drop('Price', axis=1)
y = df_clean['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [15]:
# train, test ë°ì´í„°ê°€ ì˜ ë‚˜ëˆ ì¡ŒëŠ”ì§€ í™•ì¸

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((34012, 8), (8503, 8), (34012,), (8503,))

In [16]:
# train_test_split()ì„ ì‚¬ìš©í•˜ì—¬ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ ë°ì´í„°ë¡œ ë‚˜ëˆ„ê¸°

X2_train, X2_val, y2_train, y2_val = train_test_split(X_train, y_train, test_size=0.2, random_state=2)

X2_train.shape, X2_val.shape, y2_train.shape, y2_val.shape

((27209, 8), (6803, 8), (27209,), (6803,))

##### **Q2. í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ì›í•«ì¸ì½”ë”©ì„ ìˆ˜í–‰í•œ í›„ ì—´(column) ê°œìˆ˜ë¥¼ ì œì¶œí•˜ì„¸ìš”.**

In [17]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.
from sklearn.preprocessing import StandardScaler

numeric_feats = X_train.dtypes[X_train.dtypes != "object"].index

scaler = StandardScaler()
X_train[numeric_feats] = scaler.fit_transform(X_train[numeric_feats])
X_test[numeric_feats] = scaler.transform(X_test[numeric_feats])

In [18]:
# ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ì´ ëª¨ë‘ í‰ê·  = 0(ì— ê°€ê¹Œìš´ ìˆ˜), í‘œì¤€í¸ì°¨ = 1(ì— ê°€ê¹Œìš´ ìˆ˜)ë¡œ ë³€í™˜ëœ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

X_train[numeric_feats].describe().T[['mean', 'std']]

                       mean       std
Rooms         -9.630724e-17  1.000015
Postcode       3.952566e-16  1.000015
Propertycount  3.029187e-17  1.000015
Distance      -1.128111e-17  1.000015

In [19]:
# One-Hot encodingì„ í•´ì£¼ê² ìŠµë‹ˆë‹¤.
from category_encoders import OneHotEncoder

ohe = OneHotEncoder()
X_train_ohe = ohe.fit_transform(X_train)
X_test_ohe = ohe.transform(X_test)
X_val_ohe = ohe.transform(X_val)

NameError: ignored

## **Part 2. ì •ê·œí™” ëª¨ë¸**

- ì—¬ëŸ¬ íšŒê·€ ëª¨ë¸ì„ ë§Œë“¤ì–´ì„œ ë¹„êµí•´ë³´ì„¸ìš”.
  - ëª¨ë¸ì„ ìˆ˜í–‰í•˜ê¸° ì „ì— **`baseline`**ëª¨ë¸ì„ ë§Œë“¤ì–´ì£¼ì„¸ìš”.
  - ì •ê·œí™” ëª¨ë¸ì„ í•™ìŠµí•˜ê¸° ì „ì— **`StandardScaler`**ë¥¼ ì‚¬ìš©í•´ì„œ **í‘œì¤€í™”**ë¥¼ ìˆ˜í–‰í•´ì£¼ì„¸ìš”.
  - **`ols`**, **`ridge`**, **`lasso`** íšŒê·€ëª¨ë¸ì„ ì•„ë˜ì™€ ê°™ì€ ì¡°ê±´ì—ì„œ ë§Œë“¤ê³  ê°ê°ì˜ íšŒê·€ê³„ìˆ˜ë¥¼ í™•ì¸í•´ë³´ì„¸ìš”.
    - `LinearRegression()`
    - `Ridge(alpha=1)`
    - `Lasso(alpha=1000, tol=1)`

In [ ]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

### **2-1. Ridge Regression**

##### **Q3. Ridge íšŒê·€ëª¨ë¸ì˜ íšŒê·€ê³„ìˆ˜ ì¤‘ `ì ˆëŒ“ê°’ì´ ê°€ì¥ ì‘ì€ íŠ¹ì„±`ì˜ ì´ë¦„ê³¼ íšŒê·€ê³„ìˆ˜ë¥¼ ``Abc, 123.45``ì˜ í˜•ì‹ìœ¼ë¡œ ì œì¶œí•˜ì„¸ìš”. (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€)**

In [ ]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

### **2-2. Lasso Regression**

##### **Q4. Lasso íšŒê·€ëª¨ë¸ì˜ íšŒê·€ê³„ìˆ˜ ì¤‘ 0ìœ¼ë¡œ ìˆ˜ë ´í•œ íŠ¹ì„±ì˜ ê°œìˆ˜ë¥¼ ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

### **2-3. ì¼ë°˜í™” ì„±ëŠ¥ ê²€ì¦**
-  í•™ìŠµí•œ ì •ê·œí™” ëª¨ë¸ ì¤‘ ê²€ì¦ ì„¸íŠ¸ì˜ **`MAE`**ê°€ ê°€ì¥ ë‚®ì€ ëª¨ë¸ì„ ì„ íƒí•˜ê³  ì¼ë°˜í™” ì„±ëŠ¥ì„ í™•ì¸í•˜ì„¸ìš”.
  -  ì¼ë°˜í™” ì„±ëŠ¥ì€ **`Test Set`**ë¥¼ í•œ ë²ˆë§Œ ì‚¬ìš©í•´ì„œ í™•ì¸í•©ë‹ˆë‹¤.
  - ì¼ë°˜í™” ì„±ëŠ¥ í™•ì¸ ì‹œ í‰ê°€ì§€í‘œëŠ” **`MAE`**ë¥¼ ì‚¬ìš©í•´ì£¼ì„¸ìš”.

##### **Q5. ì •ê·œí™” ëª¨ë¸ ì¤‘ ê²€ì¦ ì„¸íŠ¸ì˜ MAEê°€ ê°€ì¥ ë‚®ì€ ëª¨ë¸ë¡œ ì¼ë°˜í™” ì„±ëŠ¥ì„ í™•ì¸í•˜ì—¬ ì ìˆ˜ë¥¼ ì œì¶œí•´ì£¼ì„¸ìš”. (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€)**

In [ ]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

# ğŸ¥‡ **ë„ì „ ê³¼ì œ**

- RidgeCVì™€ LassoCVë¥¼ ì‚¬ìš©í•´ì„œ ìµœì ì˜ ì•ŒíŒŒê°’ì„ ì°¾ëŠ” ê³¼ì •ì„ ìˆ˜í–‰í•˜ê³  ì„±ëŠ¥ì„ ê°œì„ í•´ë³´ì„¸ìš”.

- ElasticNet ì •ê·œí™” ëª¨ë¸ì— ëŒ€í•´ì„œ ì¶”ê°€ë¡œ í•™ìŠµí•´ë³´ì„¸ìš”. 

- Lasso ì™€ Ridgeì— ì‚¬ìš©ë˜ëŠ” L1, L2 ì •ê·œí™”ì— ëŒ€í•´ ì•Œì•„ë³´ê³  ë…¼ì˜í•´ë³´ì„¸ìš”.