<a href="https://colab.research.google.com/github/NARAEIM/-/blob/main/n213a_regularized_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 3*

# üìù Assignment
---

# üå± **Í∏∞Î≥∏ Í≥ºÏ†ú**

Ïù¥Î≤àÏóêÎäî ÎÖ∏Ìä∏ÏóêÏÑú Îã§Î£®ÏßÄ ÏïäÏùÄ ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞Ïù∏ [Melbourne Housing Market](https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market#:~:text=calendar_view_week-,MELBOURNE_HOUSE_PRICES_LESS,-.csv)ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï†ïÍ∑úÌôîÎ•º Ïó∞ÏäµÌï¥ Î≥¥Í≤†ÏäµÎãàÎã§.

In [1]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.5.1.post0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)

## **Part 1. Preprocessing**

### **1-1. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨**

- Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨Ïò® ÌõÑ Ï†ÑÏ≤òÎ¶¨Î•º ÏàòÌñâÌï©ÎãàÎã§.
  - Î™®Îç∏ÎßÅÏùÑ ÌïòÍ∏∞ Ï†ÑÏóê ÏïÑÎûò Ìï≠Î™©ÏùÑ drop Ìï¥Ï£ºÏÑ∏Ïöî.
    - ÌäπÏÑ±
      - ÎÇ†Ïßú ÌäπÏÑ±
      - Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ïπ¥ÎîîÎÑêÎ¶¨Ìã∞Í∞Ä 50Ïù¥ ÎÑòÎäî ÌäπÏÑ±
    - Ìñâ
      - Price Î≥ÄÏàò Í∏∞Ï§Ä Í≤∞Ï∏°Ïπò Ìñâ
      - Ï§ëÎ≥µÎêòÎäî Ìñâ

#### **Q1. Ï†ÑÏ≤òÎ¶¨ ÌõÑ Îç∞Ïù¥ÌÑ∞Ïùò shapeÏùÑ Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [2]:
# Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨ÏòµÎãàÎã§. 

import pandas as pd

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/melbourne_house_prices/MELBOURNE_HOUSE_PRICES_LESS.csv')

In [3]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

In [5]:
## Ïù¥ Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

# ÎÇ†Ïßú ÌäπÏÑ± ÏÇ≠Ï†ú
df= df.drop(columns='Date')
df.shape

(63023, 12)

In [6]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Postcode           int64
Regionname        object
Propertycount      int64
Distance         float64
CouncilArea       object
dtype: object

In [7]:
df.nunique()

Suburb             380
Address          57754
Rooms               14
Type                 3
Price             3417
Method               9
SellerG            476
Postcode           225
Regionname           8
Propertycount      368
Distance           180
CouncilArea         34
dtype: int64

In [8]:
df2=df[df.columns.difference(['Rooms','Price','Distance'])]
df2=df2.drop(columns=df2[['Address','SellerG', 'Suburb']])
df2.shape

(63023, 6)

In [9]:
df_clean = df.drop(columns = ['Address', 'SellerG', 'Suburb'])
df_clean.shape

(63023, 9)

In [10]:
# PriceÏó¥Ïóê ÏûàÎäî Í≤∞Ï∏°ÏπòÌñâ Ï†úÍ±∞
df_clean = df_clean.dropna(subset=['Price'], axis=0)

In [11]:
# Ï§ëÎ≥µÌñâ Ï†úÍ±∞
df_clean = df_clean.drop_duplicates()
df_clean.shape

(42515, 9)

### **1-2. OneHotEncoder**
- Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨
  - ÌäπÏÑ±Í≥º ÌÉÄÍ≤üÏùÑ Î∂ÑÎ¶¨Ìï¥Ï£ºÏÑ∏Ïöî.
  - `train_test_split()`ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥Ï£ºÏÑ∏Ïöî. 
    - ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Îäî 8:2Ïùò ÎπÑÎ°ú ÎÇòÎàïÎãàÎã§.
    - `random_state=2`Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§. 
  - `train_test_split()`ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥Ï£ºÏÑ∏Ïöî.
    - ÌõàÎ†®Í≥º Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Îäî 8:2Ïùò ÎπÑÎ°ú ÎÇòÎàïÎãàÎã§.
    - `random_state=2`Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
- OneHotEncoder
  - `category_encoders` ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÏõêÌï´Ïù∏ÏΩîÎî©ÏùÑ ÏàòÌñâÌïòÏÑ∏Ïöî.

In [12]:
df_clean.columns

Index(['Rooms', 'Type', 'Price', 'Method', 'Postcode', 'Regionname',
       'Propertycount', 'Distance', 'CouncilArea'],
      dtype='object')

In [13]:
## Ïù¥ Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

# ÌäπÏÑ±Í≥º ÌÉÄÍ≤üÏùÑ Î∂ÑÎ¶¨
target = 'Price'
features = ['Rooms', 'Type', 'Method', 'Postcode', 'Regionname', 'Propertycount', 'Distance', 'CouncilArea']

In [14]:
# train, test Îç∞Ïù¥ÌÑ∞ ÎÇòÎàÑÍ∏∞ 

from sklearn.model_selection import train_test_split
X = df_clean.drop('Price', axis=1)
y = df_clean['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [15]:
# train, test Îç∞Ïù¥ÌÑ∞Í∞Ä Ïûò ÎÇòÎà†Ï°åÎäîÏßÄ ÌôïÏù∏

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((34012, 8), (8503, 8), (34012,), (8503,))

In [16]:
# train_test_split()ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÍ∏∞

X2_train, X2_val, y2_train, y2_val = train_test_split(X_train, y_train, test_size=0.2, random_state=2)

X2_train.shape, X2_val.shape, y2_train.shape, y2_val.shape

((27209, 8), (6803, 8), (27209,), (6803,))

##### **Q2. ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê ÏõêÌï´Ïù∏ÏΩîÎî©ÏùÑ ÏàòÌñâÌïú ÌõÑ Ïó¥(column) Í∞úÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [17]:
## Ïù¥ Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.
from sklearn.preprocessing import StandardScaler

numeric_feats = X_train.dtypes[X_train.dtypes != "object"].index

scaler = StandardScaler()
X_train[numeric_feats] = scaler.fit_transform(X_train[numeric_feats])
X_test[numeric_feats] = scaler.transform(X_test[numeric_feats])

In [18]:
# ÏàòÏπòÌòï Ïª¨ÎüºÏù¥ Î™®Îëê ÌèâÍ∑† = 0(Ïóê Í∞ÄÍπåÏö¥ Ïàò), ÌëúÏ§ÄÌé∏Ï∞® = 1(Ïóê Í∞ÄÍπåÏö¥ Ïàò)Î°ú Î≥ÄÌôòÎêú Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

X_train[numeric_feats].describe().T[['mean', 'std']]

                       mean       std
Rooms         -9.630724e-17  1.000015
Postcode       3.952566e-16  1.000015
Propertycount  3.029187e-17  1.000015
Distance      -1.128111e-17  1.000015

In [19]:
# One-Hot encodingÏùÑ Ìï¥Ï£ºÍ≤†ÏäµÎãàÎã§.
from category_encoders import OneHotEncoder

ohe = OneHotEncoder()
X_train_ohe = ohe.fit_transform(X_train)
X_test_ohe = ohe.transform(X_test)
X_val_ohe = ohe.transform(X_val)

NameError: ignored

## **Part 2. Ï†ïÍ∑úÌôî Î™®Îç∏**

- Ïó¨Îü¨ ÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ÏÑú ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî.
  - Î™®Îç∏ÏùÑ ÏàòÌñâÌïòÍ∏∞ Ï†ÑÏóê **`baseline`**Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥Ï£ºÏÑ∏Ïöî.
  - Ï†ïÍ∑úÌôî Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ∏∞ Ï†ÑÏóê **`StandardScaler`**Î•º ÏÇ¨Ïö©Ìï¥ÏÑú **ÌëúÏ§ÄÌôî**Î•º ÏàòÌñâÌï¥Ï£ºÏÑ∏Ïöî.
  - **`ols`**, **`ridge`**, **`lasso`** ÌöåÍ∑ÄÎ™®Îç∏ÏùÑ ÏïÑÎûòÏôÄ Í∞ôÏùÄ Ï°∞Í±¥ÏóêÏÑú ÎßåÎì§Í≥† Í∞ÅÍ∞ÅÏùò ÌöåÍ∑ÄÍ≥ÑÏàòÎ•º ÌôïÏù∏Ìï¥Î≥¥ÏÑ∏Ïöî.
    - `LinearRegression()`
    - `Ridge(alpha=1)`
    - `Lasso(alpha=1000, tol=1)`

In [ ]:
## Ïù¥ Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

### **2-1. Ridge Regression**

##### **Q3. Ridge ÌöåÍ∑ÄÎ™®Îç∏Ïùò ÌöåÍ∑ÄÍ≥ÑÏàò Ï§ë `Ï†àÎåìÍ∞íÏù¥ Í∞ÄÏû• ÏûëÏùÄ ÌäπÏÑ±`Ïùò Ïù¥Î¶ÑÍ≥º ÌöåÍ∑ÄÍ≥ÑÏàòÎ•º ``Abc, 123.45``Ïùò ÌòïÏãùÏúºÎ°ú Ï†úÏ∂úÌïòÏÑ∏Ïöî. (Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ)**

In [ ]:
## Ïù¥ Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

### **2-2. Lasso Regression**

##### **Q4. Lasso ÌöåÍ∑ÄÎ™®Îç∏Ïùò ÌöåÍ∑ÄÍ≥ÑÏàò Ï§ë 0ÏúºÎ°ú ÏàòÎ†¥Ìïú ÌäπÏÑ±Ïùò Í∞úÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
## Ïù¥ Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

### **2-3. ÏùºÎ∞òÌôî ÏÑ±Îä• Í≤ÄÏ¶ù**
-  ÌïôÏäµÌïú Ï†ïÍ∑úÌôî Î™®Îç∏ Ï§ë Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò **`MAE`**Í∞Ä Í∞ÄÏû• ÎÇÆÏùÄ Î™®Îç∏ÏùÑ ÏÑ†ÌÉùÌïòÍ≥† ÏùºÎ∞òÌôî ÏÑ±Îä•ÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
  -  ÏùºÎ∞òÌôî ÏÑ±Îä•ÏùÄ **`Test Set`**Î•º Ìïú Î≤àÎßå ÏÇ¨Ïö©Ìï¥ÏÑú ÌôïÏù∏Ìï©ÎãàÎã§.
  - ÏùºÎ∞òÌôî ÏÑ±Îä• ÌôïÏù∏ Ïãú ÌèâÍ∞ÄÏßÄÌëúÎäî **`MAE`**Î•º ÏÇ¨Ïö©Ìï¥Ï£ºÏÑ∏Ïöî.

##### **Q5. Ï†ïÍ∑úÌôî Î™®Îç∏ Ï§ë Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò MAEÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ Î™®Îç∏Î°ú ÏùºÎ∞òÌôî ÏÑ±Îä•ÏùÑ ÌôïÏù∏ÌïòÏó¨ Ï†êÏàòÎ•º Ï†úÏ∂úÌï¥Ï£ºÏÑ∏Ïöî. (Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ)**

In [ ]:
## Ïù¥ Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

# ü•á **ÎèÑÏ†Ñ Í≥ºÏ†ú**

- RidgeCVÏôÄ LassoCVÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÏµúÏ†ÅÏùò ÏïåÌååÍ∞íÏùÑ Ï∞æÎäî Í≥ºÏ†ïÏùÑ ÏàòÌñâÌïòÍ≥† ÏÑ±Îä•ÏùÑ Í∞úÏÑ†Ìï¥Î≥¥ÏÑ∏Ïöî.

- ElasticNet Ï†ïÍ∑úÌôî Î™®Îç∏Ïóê ÎåÄÌï¥ÏÑú Ï∂îÍ∞ÄÎ°ú ÌïôÏäµÌï¥Î≥¥ÏÑ∏Ïöî. 

- Lasso ÏôÄ RidgeÏóê ÏÇ¨Ïö©ÎêòÎäî L1, L2 Ï†ïÍ∑úÌôîÏóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Í≥† ÎÖºÏùòÌï¥Î≥¥ÏÑ∏Ïöî.