<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment
---

# ğŸŒ± **ê¸°ë³¸ ê³¼ì œ**
[ìºê¸€](https://www.kaggle.com/) ê³„ì •ì„ ë§Œë“  í›„, [ê³µìœ ëœ ì¸í´ë˜ìŠ¤ ëŒ€íšŒ url](https://www.kaggle.com/t/042a050ee0cd46ffa70e3d5a52a57fdc) ì„ í†µí•´ ëŒ€íšŒì— ì°¸ì—¬í•˜ì„¸ìš”. 

ì˜¤ëŠ˜ ê³¼ì œì—ì„œ ì‚¬ìš©í•˜ëŠ” ë°ì´í„°ì…‹ì˜ Descriptionì„ í™•ì¸í•´ ë³´ì„¸ìš”.

##### **Data Description**

> ëª¨ë“  binary binary ë³€ìˆ˜ëŠ” ë‹¤ìŒê³¼ ê°™ì€ ê·œì¹™ì„ ë”°ë¦…ë‹ˆë‹¤. <br>
`0 : No / 1 : Yes`

- **targets**
  - `vacc_h1n1_f` - H1N1ë…ê° ë°±ì‹  ë°˜ì‘ (ì´ ë¬¸ì œì˜ label)
  - `vacc_ease_f` - ê³„ì ˆì„± ë…ê° ë°±ì‹  ë°˜ì‘
- **features**
  - `h1n1_concern` - H1N1ë°±ì‹ ì— ëŒ€í•œ ìš°ë ¤ ì •ë„
    - 0 : ì „í˜€ ìš°ë ¤ë˜ì§€ ì•ŠìŒ
    - 1 : ê·¸ë‹¤ì§€ ìš°ë ¤ë˜ì§€ ì•ŠìŒ
    - 2 : ë‹¤ì†Œ ìš°ë ¤ë¨
    - 3 : ë§¤ìš° ê±±ì •ë¨
  - `h1n1_knowledge` - H1N1ë°±ì‹ ì— ëŒ€í•´ ì–¼ë§ˆë‚˜ ì˜ ì•Œê³  ìˆëŠ”ê°€?
    - 0 : ì•„ëŠ” ê²ƒì´ ì „í˜€ ì—†ë‹¤
    - 1 : ì¡°ê¸ˆ ì•Œê³  ìˆë‹¤.
    - 2 : ë§¤ìš° ì˜ ì•Œê³  ìˆë‹¤.
  - `behavioral_antiviral_meds` - í•­ìƒì œ ë³µìš© ì—¬ë¶€ (binary)
  - `behavioral_avoidance` - ë…ê° ìœ ì¦ìƒìì™€ì˜ ì ‘ì´‰ì„ í”¼í•´ì™”ëŠ”ê°€?
  - `behavioral_face_mask` - ë§ˆìŠ¤í¬ë¥¼ ì°©ìš© í•˜ì˜€ëŠ”ê°€?
  - `behavioral_wash_hands` - ì†ì„ ìì£¼ ì”»ê±°ë‚˜ ì„¸ì •ì œë¥¼ ì‚¬ìš©í•˜ì˜€ëŠ”ê°€? 
  - `behavioral_large_gatherings` - ëŒ€ê·œëª¨ ì§‘ë‹¨ ëª¨ì„ ì°¸ì„ì„ ì¤„ì˜€ëŠ”ê°€? 
  - `behavioral_outside_home` - ë™ê±°ì¸ ì™¸ì˜ ì‚¬ëŒë“¤ê³¼ì˜ ì ‘ì´‰ì„ í”¼í•˜ì˜€ëŠ”ê°€?
  - `behavioral_touch_face` - ëˆˆ, ì½”, ì… ë“±ì„ ë§Œì§€ì§€ ì•Šì•˜ëŠ”ê°€?
  - `doctor_recc_h1n1` - ì˜ì‚¬ì—ê²Œ H1N1ë…ê° ë°±ì‹  íˆ¬ì—¬ë¥¼ ê¶Œìœ ë°›ì•˜ëŠ”ê°€? 
  - `doctor_recc_seasonal` - ì˜ì‚¬ì—ê²Œ ê³„ì ˆì„± ë…ê° ë°±ì‹  íˆ¬ì—¬ë¥¼ ê¶Œìœ ë°›ì•˜ëŠ”ê°€?
  - `chronic_med_condition` - ë‹¤ìŒì˜ ë§Œì„±ì§ˆí™˜ìœ¼ë¡œ ì¸í•´ ì•½ë¬¼ì„ ë³µìš©í•˜ê³  ìˆëŠ”ê°€? : ì²œì‹ ë˜ëŠ” ê¸°íƒ€ í ì§ˆí™˜, ë‹¹ë‡¨ë³‘, ì‹¬ì¥ ì§ˆí™˜, ì‹ ì¥ ì§ˆí™˜, ê²¸ìƒ ì í˜ˆêµ¬ ë¹ˆí˜ˆ ë˜ëŠ” ê¸°íƒ€ ë¹ˆí˜ˆ, ì‹ ê²½í•™ì  ë˜ëŠ” ì‹ ê²½ê·¼ ì§ˆí™˜, ê°„ ì§ˆí™˜ ë˜ëŠ” ë§Œì„± ì§ˆí™˜ ë˜ëŠ” ì•½ë¬¼ ë³µìš©ìœ¼ë¡œ ì¸í•œ ë©´ì—­ ì²´ê³„ ì•½í™” ë§Œì„± ì§ˆí™˜
  - `child_under_6_months` - 6ê°œì›” ë¯¸ë§Œ ì˜ì•„ì™€ ì •ê¸°ì ìœ¼ë¡œ ê¸´ë°€íˆ ì ‘ì´‰ì„ í•œ ì ì´ ìˆëŠ”ê°€?
  - `health_insurance` - ê±´ê°• ë³´í—˜ì— ê°€ì…ë˜ì–´ ìˆëŠ”ê°€?
  - `health_worker` - ì˜ë£Œê³„ ì¢…ì‚¬ìì¸ê°€?
  - `opinion_h1n1_vacc_effective` - H1N1ë°±ì‹ ì˜ íš¨ê³¼ì— ëŒ€í•œ ì‘ë‹µìì˜ ìƒê°
    - Not at all effective
    - Not very effective
    - Don't know
    - Somewhat effective
    - Very effective
  - `opinion_h1n1_risk` - H1N1ë°±ì‹ ì˜ ìœ„í—˜ì— ëŒ€í•œ ì‘ë‹µìì˜ ìƒê°
    - Very Low
    - Somewhat low
    - Don't know
    - Somewhat high
    - Very high
  - `opinion_h1n1_sick_from_vacc` - H1N1ë°±ì‹  íˆ¬ì—¬ í›„ ì§ˆë³‘ì— ê±¸ë¦´ ìˆ˜ë„ ìˆëŠ” ìœ„í—˜ì— ëŒ€í•œ ì‘ë‹µìì˜ ìƒê° 
    - Not at all worried
    - Not very worried
    - Don't know
    - Somewhat worried
    - Very worried
  - `opinion_seas_vacc_effective` - ê³„ì ˆì„± ë°±ì‹ ì˜ íš¨ê³¼ì— ëŒ€í•œ ì‘ë‹µìì˜ ìƒê°
    - Not very effective
    - Don't know
    - Somewhat effective
    - Very effective
  - `opinion_seas_risk` - ê³„ì ˆì„± ë°±ì‹ ì˜ ìœ„í—˜ì— ëŒ€í•œ ì‘ë‹µìì˜ ìƒê°
    - Very Low
    - Somewhat low
    - Don't know
    - Somewhat high
    - Very high
  - `opinion_seas_sick_from_vacc` - ê³„ì ˆì„± ë°±ì‹  íˆ¬ì—¬ í›„ ì§ˆë³‘ì— ê±¸ë¦´ ìˆ˜ë„ ìˆëŠ” ìœ„í—˜ì— ëŒ€í•œ ì‘ë‹µìì˜ ìƒê°
    - Not at all worried
    - Not very worried
    - Don't know
    - Somewhat worried
    - Very worried
  - `agegrp` - ì‘ë‹µìì˜ ì—°ë ¹ë³„ ê·¸ë£¹
    - 6 Months - 9 Years
    - 10 - 17 Years
    - 18 - 34 Years
    - 35 - 44 Years
    - 45 - 54 Years
    - 55 - 64 Years
    - 65+ Years
  - `education_comp` - ì‘ë‹µì ìŠ¤ìŠ¤ë¡œê°€ ë‹µí•œ êµìœ¡ ì´ìˆ˜ ìˆ˜ì¤€
    - 1 = < 12 Years
    - 2 = 12 Years
    - 3 = Some College
    - 4 = College Graduate
  - `raceeth4_i` - ì‘ë‹µìì˜ ì¸ì¢…
    - 1 = Hispanic
    - 2 = Non-Hispanic, Black Only
    - 3 = Non-Hispanic, White Only
    - 4 = Non-Hispanic, Other or Multiple Races
  - `sex_i` - ì‘ë‹µìì˜ ì„±ë³„
    - 1 = Male
    - 2 = Female
  - `inc_pov` - 2008 ë…„ ì¸êµ¬ ì¡°ì‚¬ ë¹ˆê³¤ ê¸°ì¤€ê³¼ ê´€ë ¨í•˜ì—¬ ì‘ë‹µìì˜ ê°€êµ¬ ì—°ê°„ ì†Œë“
    - 1 = > $75,000
    - 2 = <= $75,000
    - 3 = Below Poverty
    - 4 = Unknown
  - `marital` - ì‘ë‹µìì˜ ê²°í˜¼ ì—¬ë¶€
    - 1 = Married
    - 2 = Not Married
  - `rent_own_r` - ì‘ë‹µìì˜ ê±°ì£¼ í˜„í™©
    - 1 = Home is Owned
    - 2 = Home is Rented or Other Arrangement
  - `employment_status` - ì‘ë‹µìì˜ ê·¼ë¡œ í˜„í™©
    - Employed
    - Not in Labor Force
    - Unemployed
  - `census_region` - ì‹¤ì œ ì¸êµ¬ ì¡°ì‚¬ ê±°ì£¼ ì§€ì—­
    - 1=northeast
    - 2=midwest
    - 3=south
    - 4=west
  - `census_msa` -ë¯¸êµ­ ì¸êµ¬ ì¡°ì‚¬ì—ì„œ ì •ì˜í•œ ëŒ€ë„ì‹œ í†µê³„ ì§€ì—­ (MSA) ë‚´ ì‘ë‹µìì˜ ê±°ì£¼ì§€.
  - `n_adult_r` - ê±°ì£¼ êµ¬ì„±ì› ì¤‘ ì–´ë¥¸ ì¸ì› ìˆ˜
  - `household_children` - ê±°ì£¼ êµ¬ì„±ì› ì¤‘ ì–´ë¦°ì´ ì¸ì› ìˆ˜
  - `n_people_r` - ê±°ì£¼ êµ¬ì„±ì›ì˜ ì´ ì¸ì› ìˆ˜
  - `employment_industry` - ì‘ë‹µìê°€ ì¢…ì‚¬í•˜ëŠ” ì‚°ì—… êµ¬ë¶„
  - `employment_occupation` - ì‘ë‹µìì˜ ì§ì—… ìœ í˜• (ì§§ì€ ì„ì˜ì˜ ë¬¸ìì—´ë¡œ í‘œì‹œ)
  - `hhs_region` - HHS ê°ì‹œ ì§€ì—­ ë²ˆí˜¸
    - Region 1: CT,ME,MA,NH,RI,VT
    - Region 2: NJ,NY
    - Region 3: DE,DC,MD,PA,VA,WV
    - Region 4: AL,FL,GA,KY,MS,NC,SC,TN
    - Region 5: IL,IN,MI,MN,OH,WI
    - Region 6: AR,LA,NM,OK,TX
    - Region 7: IA,KS,MO,NE
    - Region 8: CO,MT,ND,SD,UT,WY
    - Region 9: AZ,CA,HI,NV
    - Region 10: AK,ID,OR,WA
  - `state` - ê±°ì£¼í•˜ëŠ” ì£¼(å·)

## **Part 1. EDA ë° Feature Engineering**
- H1N1 ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
- profilingì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ì‚´í´ë³´ê³ , missing value, zeros, cardinality ë“±ì„ í™•ì¸í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.
- ë³¸ì¸ë§Œì˜ íŠ¹ì„±ê³µí•™ì„ ìˆ˜í–‰í•˜ì„¸ìš”. 
- ëª¨ë“  ì‘ì—…ì„ ì™„ë£Œí•œ í›„, H1N1 ë°ì´í„°ë¥¼ í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ì…‹ìœ¼ë¡œ ë‚˜ëˆ„ì„¸ìš”.

In [1]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)

In [2]:
!pip install pandas-profiling==3.1.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-profiling==3.1.0 in /usr/local/lib/python3.8/dist-packages (3.1.0)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.11.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.1.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.21.6)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.1.12)
Requirement already satisfied: markupsafe~=2.0.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (2.0.1)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (2.11.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.3.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (3.2.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.7.3)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.7.4)
Requirement already satisfied: phik>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.12.3)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.5.1)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.10.4)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (2.25.1)
Requirement already satisfied: joblib~=1.0.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.0.1)
Requirement already satisfied: PyYAML>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (6.0)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (4.64.1)
Requirement already satisfied: multimethod>=1.4 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.9.1)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (2.8.8)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (22.2.0)
Requirement already satisfied: imagehash in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (4.3.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (7.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.0) (2022.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic>=1.8.1->pandas-profiling==3.1.0) (4.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.15.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (1.4.1)

In [3]:
# ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° 
import pandas as pd

target = 'vacc_h1n1_f'

train = pd.merge(pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train.csv'), 
                 pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train_labels.csv')[target], left_index=True, right_index=True)
test = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/test.csv')
sample_submission = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/submission.csv')

In [4]:
print(train.shape, test.shape)

(42154, 39) (28104, 38)

In [5]:
from sklearn.model_selection import train_test_split

train, val = train_test_split(
    train, train_size=0.80, test_size=0.20, stratify=train[target], random_state=2
)

train.shape, val.shape, test.shape

((33723, 39), (8431, 39), (28104, 38))

In [6]:
train[target].value_counts(normalize=True)

0    0.760935
1    0.239065
Name: vacc_h1n1_f, dtype: float64

In [7]:
# í´ë˜ìŠ¤ê°€ 2ê°œ(0, 1)ì¸ ì´ì§„ ë¶„ë¥˜(binary classification) ë¬¸ì œë¡œ, ê°€ì¥ í° ë²”ì£¼(0)ê°€ 76.09%ë¥¼ ì°¨ì§€í•˜ê³  ìˆìœ¼ë¯€ê³  í´ë˜ìŠ¤ê°€ ë¶ˆê· í˜•(imbalanced)í•œ ë¶„ë¥˜ ë¬¸ì œ

In [8]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

from pandas_profiling import ProfileReport

profile = ProfileReport(train, minimal=True)
#profile

In [9]:
train.select_dtypes("float").head(20)

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,chronic_med_condition,child_under_6_months,health_insurance,health_worker,education_comp,marital,rent_own_r,n_adult_r,household_children,n_people_r
20365,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,NaN,0.0,4.0,2.0,1.0,4.0,0.0,4.0
29138,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,2.0,2.0,2.0,2.0,2.0,4.0
36128,2.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,1.0
39793,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,4.0,1.0,1.0,2.0,0.0,2.0
32973,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,2.0,3.0,5.0
31450,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,2.0,2.0,1.0,1.0,2.0,3.0
17541,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,3.0,1.0,2.0,3.0,0.0,3.0
33946,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,1.0,1.0,2.0
5300,2.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,2.0,0.0,2.0
34292,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,1.0,0.0,NaN,0.0,1.0,2.0,2.0,1.0,0.0,1.0
19463,2.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,2.0,2.0,4.0
9609,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,2.0,1.0,2.0,0.0,2.0
34149,3.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,3.0,2.0,1.0,1.0,0.0,1.0
30019,2.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,3.0,1.0,2.0,2.0,1.0,3.0
22287,2.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,3.0,2.0,1.0,4.0,0.0,4.0
14807,3.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,4.0,2.0,1.0,1.0,0.0,1.0
4945,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0
26695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,3.0,5.0
9029,2.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,2.0,1.0,1.0,2.0,0.0,2.0
18078,0.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,2.0,2.0,1.0,0.0,1.0

In [10]:
train.describe(exclude="number").T.sort_values(by="unique")

,count,unique,top,freq
employment_status,25466,3,Employed,13722
census_msa,33723,3,"MSA, Not Principle City",15202
opinion_h1n1_vacc_effective,26637,6,Somewhat Effective,11710
opinion_h1n1_risk,26602,6,Somewhat Low,9980
opinion_h1n1_sick_from_vacc,26568,6,Not Very Worried,9229
opinion_seas_vacc_effective,26519,6,Somewhat Effective,11571
opinion_seas_risk,26466,6,Somewhat Low,9057
opinion_seas_sick_from_vacc,26413,6,Not At All Worried,11813
agegrp,33723,7,65+ Years,6821
employment_industry,13714,23,Health Care and Social Assistance Industries,2451
employment_occupation,13714,25,Management Occupations,1769
state,33723,51,CALIFORNIA,829

In [11]:
train.duplicated().sum()

192

In [12]:
train = train.fillna(0)

In [13]:
import numpy as np


def engineer(df):
    """íŠ¹ì„±ì„ ì—”ì§€ë‹ˆì–´ë§ í•˜ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤."""

    # ë†’ì€ ì¹´ë””ë„ë¦¬í‹°ë¥¼ ê°€ì§€ëŠ” íŠ¹ì„±ì„ ì œê±°í•©ë‹ˆë‹¤.
    selected_cols = df.select_dtypes(include=["number", "object"])
    labels = selected_cols.nunique()  # íŠ¹ì„±ë³„ ì¹´ë””ë„ë¦¬í‹° ë¦¬ìŠ¤íŠ¸
    selected_features = labels[labels <= 30].index.tolist()  # ì¹´ë””ë„ë¦¬í‹°ê°€ 30ë³´ë‹¤ ì‘ì€ íŠ¹ì„±ë§Œ ì„ íƒí•©ë‹ˆë‹¤.
    df = df[selected_features]

    # ìƒˆë¡œìš´ íŠ¹ì„±ì„ ìƒì„±í•©ë‹ˆë‹¤.
    behaviorals = [col for col in df.columns if "behavioral" in col]
    df["behaviorals"] = df[behaviorals].sum(axis=1)

    dels = [col for col in df.columns if ("employment" in col or "seas" in col)]
    df.drop(columns=dels, inplace=True)

    return df


train = engineer(train)
val = engineer(val)
test = engineer(test)

In [14]:
# í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¥¼ íŠ¹ì„±ê³¼ íƒ€ê²Ÿìœ¼ë¡œ ë¶„ë¦¬í•©ë‹ˆë‹¤

features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

## **Part 2. ê¸°ì¤€ëª¨ë¸**
- H1N1 ë¶„ë¥˜ê¸°ì˜ ê¸°ì¤€ëª¨ë¸ì„ ìƒì„±í•˜ì„¸ìš”.

##### **Q1. ê¸°ì¤€ëª¨ë¸ì˜ ì •í™•ë„ë¥¼ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì œì¶œí•´ ì£¼ì„¸ìš”.**

In [15]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

# ê¸°ì¤€ëª¨ë¸
from sklearn.metrics import accuracy_score

base = y_train.mode()[0] #í›ˆë ¨ë°ì´í„°ì˜ ìµœë¹ˆí´ë˜ìŠ¤
baseline = len(y_train) * [base]
baseline_acc = accuracy_score(y_train, baseline)
print(f'ê¸°ì¤€ëª¨ë¸ì˜ ì •í™•ë„ : {baseline_acc.round(2)}')

ê¸°ì¤€ëª¨ë¸ì˜ ì •í™•ë„ : 0.76

## **Part 3. Decision Trees**
- íŒŒì´í”„ë¼ì¸ì„ ì‚¬ìš©í•˜ì—¬ ê²°ì •íŠ¸ë¦¬ë¥¼ í•™ìŠµì‹œí‚¤ì„¸ìš”. 
  - `random_state=2`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - í•˜ì´í¼íŒŒë¼ë¯¸í„°ë¥¼ ì¡°ì •í•˜ì—¬ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ ë†’ì—¬ ë³´ì„¸ìš”. 
  - ê³¼ì í•©ì— ì£¼ì˜í•˜ì„¸ìš”!
- ê²€ì¦ì„¸íŠ¸ ìŠ¤ì½”ì–´ë¥¼ í™•ì¸í•˜ì„¸ìš”.
  - í‰ê°€ì§€í‘œëŠ” F1-scoreì…ë‹ˆë‹¤. 
  - ìˆ˜ì‹ì€ ìºê¸€ Overview-Evaluation í˜ì´ì§€ë¥¼ í™•ì¸í•´ ì£¼ì„¸ìš”. í‰ê°€ì§€í‘œì— ëŒ€í•œ ë‚´ìš©ì€ ë‹¤ìŒì— ìì„¸íˆ ë°°ìš°ê³  í™œìš©í•  ê²ƒì…ë‹ˆë‹¤. ì§€ê¸ˆì€ ìŠ¤ì½”ì–´ë¥¼ ì˜¬ë¦¬ê¸° ìœ„í•œ ë…¸ë ¥ì„ ì „í˜€ ê¸°ìš¸ì´ì§€ ë§ê³  ê²°ì •íŠ¸ë¦¬ì˜ ê°œë…ê³¼ ì½”ë“œ ì´í•´, ì‚¬ìš©ì— ì§‘ì¤‘í•˜ì„¸ìš”!
- íŠ¹ì„±ì¤‘ìš”ë„ë¥¼ ê·¸ë˜í”„ë¡œ ë‚˜íƒ€ë‚´ ë³´ì„¸ìš”.

##### **Q2. ê²€ì¦ì„¸íŠ¸ì˜ F1-scoreë¥¼ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì œì¶œí•´ ì£¼ì„¸ìš”. (0.5 ì´ìƒ í†µê³¼)**

In [25]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

from category_encoders import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [33]:
from sklearn.metrics import classification_report

pipe_dt = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    DecisionTreeClassifier(random_state = 2, criterion = "entropy", max_depth = 6),
)
pipe_dt.fit(X_train, y_train)

print("í›ˆë ¨ ì •í™•ë„: ", pipe_dt.score(X_train, y_train))
print("ê²€ì¦ ì •í™•ë„: ", pipe_dt.score(X_val, y_val))

y_pred = pipe_dt.predict(X_test)

í›ˆë ¨ ì •í™•ë„:  0.8199448447647006
ê²€ì¦ ì •í™•ë„:  0.8243387498517376

In [34]:
y_pred = pipe_dt.predict(X_val)
print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      6416
           1       0.73      0.42      0.53      2015

    accuracy                           0.82      8431
   macro avg       0.79      0.69      0.71      8431
weighted avg       0.81      0.82      0.81      8431

## **Part 4. Random Forests**
- íŒŒì´í”„ë¼ì¸ì„ ì‚¬ìš©í•˜ì—¬ ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í•™ìŠµì‹œí‚¤ì„¸ìš”. 
  - Ordinal Encodingì„ ì ìš©í•©ë‹ˆë‹¤. 
  - ëœë¤í¬ë ˆìŠ¤íŠ¸ê°€ ê²°ì •íŠ¸ë¦¬ë³´ë‹¤ ì„±ëŠ¥ì´ ì˜¤íˆë ¤ ë–¨ì–´ì¡Œì„ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤! ë§Œì•½ ê·¸ë ‡ë‹¤ë©´ ì´ìœ ë¥¼ ë³¸ì¸ ë…¼ë¦¬ë¡œ ë¶„ì„í•´ ë³´ì„¸ìš”.
- ê²€ì¦ì„¸íŠ¸ ìŠ¤ì½”ì–´ë¥¼ í™•ì¸í•˜ì„¸ìš”.
  - í‰ê°€ì§€í‘œëŠ” F1-scoreì…ë‹ˆë‹¤.

##### **Q3. (ê°ê´€ì‹) ë‹¤ìŒ íŠ¹ì„±ë“¤ ì¤‘ì— ìˆœì„œë¥¼ ê³ ë ¤í•œ Ordinal Encodingì´ í•„ìš”í•´ ë³´ì´ëŠ” íŠ¹ì„±ì„ ì„ íƒí•˜ì—¬ ì œì¶œí•´ ì£¼ì„¸ìš”.**
    1. opinion_h1n1_vacc_effective
    2. state
    3. marital
    4. employment_occupation

##### **Q4. ê²€ì¦ì„¸íŠ¸ì˜ F1-scoreë¥¼ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì œì¶œí•´ ì£¼ì„¸ìš”.**

In [31]:
# max_depthëŠ” Noneì´ defaultì…ë‹ˆë‹¤. ì¦‰, ë§ˆì§€ë§‰ê¹Œì§€ ë¶„ê¸°í•œë‹¤ëŠ” ëœ»ì…ë‹ˆë‹¤.
# ê³¼ì í•©ì„ ì¤„ì´ê¸° ìœ„í•´ max_depthë¥¼ 6ìœ¼ë¡œ ì¤¬ìŠµë‹ˆë‹¤.

from sklearn.ensemble import RandomForestClassifier

pipe_rf = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    RandomForestClassifier(random_state=42, oob_score=True, n_jobs=-1),
)

pipe_rf.fit(X_train, y_train)
print("í›ˆë ¨ ì •í™•ë„: ", pipe_rf.score(X_train, y_train))
print("ê²€ì¦ ì •í™•ë„: ", pipe_rf.score(X_val, y_val))

í›ˆë ¨ ì •í™•ë„:  0.9903626604987694
ê²€ì¦ ì •í™•ë„:  0.8065472660419879

In [32]:
y_pred = pipe_rf.predict(X_val)
print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.96      0.88      6416
           1       0.73      0.30      0.43      2015

    accuracy                           0.81      8431
   macro avg       0.77      0.63      0.66      8431
weighted avg       0.79      0.81      0.77      8431

## **Part 5. ê²°ê³¼ ì œì¶œ**
- ê²°ê³¼ê°€ ê°€ì¥ ì¢‹ì•˜ë˜ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ í…ŒìŠ¤íŠ¸ì…‹ì— ëŒ€í•œ ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ìºê¸€ì— ì œì¶œí•˜ì„¸ìš”.
  - ìŠ¤ì½”ì–´ê°€ ë§ì´ ë‚®ê²Œ ë‚˜ì™€ë„ íŠ¸ë¦¬ê¸°ë°˜ ëª¨ë¸ì„ ì˜ ì´í•´í•˜ê³  ê²°ê³¼ë¥¼ ë‚´ì—ˆë‹¤ë©´ ì¶©ë¶„í•©ë‹ˆë‹¤!

##### **Q5. ìºê¸€ Leaderboardì˜ ë³¸ì¸ scoreë¥¼ ì œì¶œí•´ ì£¼ì„¸ìš”.**

In [35]:
# csv íŒŒì¼ ì €ì¥ì„ ìœ„í•œ êµ¬ê¸€ ë“œë¼ì´ë¸Œ ë§ˆìš´íŠ¸
import sys

if "google.colab" in sys.modules:
    from google.colab import drive
    drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

pred = pipe_rf.predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [37]:
result = {'Id' : [i for i in range(len(pred))], 'vacc_h1n1_f' : pred}
result = pd.DataFrame(result)
result

          Id  vacc_h1n1_f
0          0            0
1          1            0
2          2            0
3          3            0
4          4            0
...      ...          ...
28099  28099            0
28100  28100            0
28101  28101            0
28102  28102            0
28103  28103            0

[28104 rows x 2 columns]

# ğŸ¥‡ **ë„ì „ ê³¼ì œ**

## **Part 6. Encoding**
- ëœë¤í¬ë ˆìŠ¤íŠ¸ì—ì„œ OneHot Encodingê³¼ Ordinal Encodingì„ ê°ê° ì ìš©í•´ ë³´ê³ , í•™ìŠµ ìˆ˜í–‰ì‹œê°„ì˜ ì°¨ì´ë¥¼ ë¹„êµí•´ ë³´ì„¸ìš”.

## **Part 7. ëª¨ë¸ ì„±ëŠ¥ í–¥ìƒ**
- ëœë¤í¬ë ˆìŠ¤íŠ¸ì˜ í•˜ì´í¼íŒŒë¼ë¯¸í„°ë¥¼ ì¡°ì •í•˜ì—¬ ì„±ëŠ¥ì„ í–¥ìƒì‹œí‚¤ì„¸ìš”. 
  - F1-score 0.58 ì´ìƒì„ ë‹¬ì„±í•´ ë³´ì„¸ìš”!