<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 2 / NOTE 1*

# 📝 Assignment
---

# 🌱 **기본 과제**
[캐글](https://www.kaggle.com/) 계정을 만든 후, [공유된 인클래스 대회 url](https://www.kaggle.com/t/042a050ee0cd46ffa70e3d5a52a57fdc) 을 통해 대회에 참여하세요. 

오늘 과제에서 사용하는 데이터셋의 Description을 확인해 보세요.

##### **Data Description**

> 모든 binary binary 변수는 다음과 같은 규칙을 따릅니다. <br>
`0 : No / 1 : Yes`

- **targets**
  - `vacc_h1n1_f` - H1N1독감 백신 반응 (이 문제의 label)
  - `vacc_ease_f` - 계절성 독감 백신 반응
- **features**
  - `h1n1_concern` - H1N1백신에 대한 우려 정도
    - 0 : 전혀 우려되지 않음
    - 1 : 그다지 우려되지 않음
    - 2 : 다소 우려됨
    - 3 : 매우 걱정됨
  - `h1n1_knowledge` - H1N1백신에 대해 얼마나 잘 알고 있는가?
    - 0 : 아는 것이 전혀 없다
    - 1 : 조금 알고 있다.
    - 2 : 매우 잘 알고 있다.
  - `behavioral_antiviral_meds` - 항생제 복용 여부 (binary)
  - `behavioral_avoidance` - 독감 유증상자와의 접촉을 피해왔는가?
  - `behavioral_face_mask` - 마스크를 착용 하였는가?
  - `behavioral_wash_hands` - 손을 자주 씻거나 세정제를 사용하였는가? 
  - `behavioral_large_gatherings` - 대규모 집단 모임 참석을 줄였는가? 
  - `behavioral_outside_home` - 동거인 외의 사람들과의 접촉을 피하였는가?
  - `behavioral_touch_face` - 눈, 코, 입 등을 만지지 않았는가?
  - `doctor_recc_h1n1` - 의사에게 H1N1독감 백신 투여를 권유받았는가? 
  - `doctor_recc_seasonal` - 의사에게 계절성 독감 백신 투여를 권유받았는가?
  - `chronic_med_condition` - 다음의 만성질환으로 인해 약물을 복용하고 있는가? : 천식 또는 기타 폐 질환, 당뇨병, 심장 질환, 신장 질환, 겸상 적혈구 빈혈 또는 기타 빈혈, 신경학적 또는 신경근 질환, 간 질환 또는 만성 질환 또는 약물 복용으로 인한 면역 체계 약화 만성 질환
  - `child_under_6_months` - 6개월 미만 영아와 정기적으로 긴밀히 접촉을 한 적이 있는가?
  - `health_insurance` - 건강 보험에 가입되어 있는가?
  - `health_worker` - 의료계 종사자인가?
  - `opinion_h1n1_vacc_effective` - H1N1백신의 효과에 대한 응답자의 생각
    - Not at all effective
    - Not very effective
    - Don't know
    - Somewhat effective
    - Very effective
  - `opinion_h1n1_risk` - H1N1백신의 위험에 대한 응답자의 생각
    - Very Low
    - Somewhat low
    - Don't know
    - Somewhat high
    - Very high
  - `opinion_h1n1_sick_from_vacc` - H1N1백신 투여 후 질병에 걸릴 수도 있는 위험에 대한 응답자의 생각 
    - Not at all worried
    - Not very worried
    - Don't know
    - Somewhat worried
    - Very worried
  - `opinion_seas_vacc_effective` - 계절성 백신의 효과에 대한 응답자의 생각
    - Not very effective
    - Don't know
    - Somewhat effective
    - Very effective
  - `opinion_seas_risk` - 계절성 백신의 위험에 대한 응답자의 생각
    - Very Low
    - Somewhat low
    - Don't know
    - Somewhat high
    - Very high
  - `opinion_seas_sick_from_vacc` - 계절성 백신 투여 후 질병에 걸릴 수도 있는 위험에 대한 응답자의 생각
    - Not at all worried
    - Not very worried
    - Don't know
    - Somewhat worried
    - Very worried
  - `agegrp` - 응답자의 연령별 그룹
    - 6 Months - 9 Years
    - 10 - 17 Years
    - 18 - 34 Years
    - 35 - 44 Years
    - 45 - 54 Years
    - 55 - 64 Years
    - 65+ Years
  - `education_comp` - 응답자 스스로가 답한 교육 이수 수준
    - 1 = < 12 Years
    - 2 = 12 Years
    - 3 = Some College
    - 4 = College Graduate
  - `raceeth4_i` - 응답자의 인종
    - 1 = Hispanic
    - 2 = Non-Hispanic, Black Only
    - 3 = Non-Hispanic, White Only
    - 4 = Non-Hispanic, Other or Multiple Races
  - `sex_i` - 응답자의 성별
    - 1 = Male
    - 2 = Female
  - `inc_pov` - 2008 년 인구 조사 빈곤 기준과 관련하여 응답자의 가구 연간 소득
    - 1 = > $75,000
    - 2 = <= $75,000
    - 3 = Below Poverty
    - 4 = Unknown
  - `marital` - 응답자의 결혼 여부
    - 1 = Married
    - 2 = Not Married
  - `rent_own_r` - 응답자의 거주 현황
    - 1 = Home is Owned
    - 2 = Home is Rented or Other Arrangement
  - `employment_status` - 응답자의 근로 현황
    - Employed
    - Not in Labor Force
    - Unemployed
  - `census_region` - 실제 인구 조사 거주 지역
    - 1=northeast
    - 2=midwest
    - 3=south
    - 4=west
  - `census_msa` -미국 인구 조사에서 정의한 대도시 통계 지역 (MSA) 내 응답자의 거주지.
  - `n_adult_r` - 거주 구성원 중 어른 인원 수
  - `household_children` - 거주 구성원 중 어린이 인원 수
  - `n_people_r` - 거주 구성원의 총 인원 수
  - `employment_industry` - 응답자가 종사하는 산업 구분
  - `employment_occupation` - 응답자의 직업 유형 (짧은 임의의 문자열로 표시)
  - `hhs_region` - HHS 감시 지역 번호
    - Region 1: CT,ME,MA,NH,RI,VT
    - Region 2: NJ,NY
    - Region 3: DE,DC,MD,PA,VA,WV
    - Region 4: AL,FL,GA,KY,MS,NC,SC,TN
    - Region 5: IL,IN,MI,MN,OH,WI
    - Region 6: AR,LA,NM,OK,TX
    - Region 7: IA,KS,MO,NE
    - Region 8: CO,MT,ND,SD,UT,WY
    - Region 9: AZ,CA,HI,NV
    - Region 10: AK,ID,OR,WA
  - `state` - 거주하는 주(州)

## **Part 1. EDA 및 Feature Engineering**
- H1N1 데이터를 불러오세요.
- profiling을 사용하여 데이터를 살펴보고, missing value, zeros, cardinality 등을 확인하여 처리하세요.
- 본인만의 특성공학을 수행하세요. 
- 모든 작업을 완료한 후, H1N1 데이터를 훈련/검증/테스트 셋으로 나누세요.

In [1]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)

In [2]:
!pip install pandas-profiling==3.1.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-profiling==3.1.0 in /usr/local/lib/python3.8/dist-packages (3.1.0)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.11.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.1.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.21.6)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.1.12)
Requirement already satisfied: markupsafe~=2.0.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (2.0.1)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (2.11.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.3.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (3.2.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.7.3)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.7.4)
Requirement already satisfied: phik>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.12.3)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (0.5.1)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.10.4)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (2.25.1)
Requirement already satisfied: joblib~=1.0.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.0.1)
Requirement already satisfied: PyYAML>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (6.0)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (4.64.1)
Requirement already satisfied: multimethod>=1.4 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling==3.1.0) (1.9.1)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (2.8.8)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (22.2.0)
Requirement already satisfied: imagehash in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (4.3.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (7.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.0) (2022.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic>=1.8.1->pandas-profiling==3.1.0) (4.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.15.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (1.4.1)

In [3]:
# 데이터셋 불러오기 
import pandas as pd

target = 'vacc_h1n1_f'

train = pd.merge(pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train.csv'), 
                 pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train_labels.csv')[target], left_index=True, right_index=True)
test = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/test.csv')
sample_submission = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/submission.csv')

In [4]:
print(train.shape, test.shape)

(42154, 39) (28104, 38)

In [5]:
from sklearn.model_selection import train_test_split

train, val = train_test_split(
    train, train_size=0.80, test_size=0.20, stratify=train[target], random_state=2
)

train.shape, val.shape, test.shape

((33723, 39), (8431, 39), (28104, 38))

In [6]:
train[target].value_counts(normalize=True)

0    0.760935
1    0.239065
Name: vacc_h1n1_f, dtype: float64

In [7]:
# 클래스가 2개(0, 1)인 이진 분류(binary classification) 문제로, 가장 큰 범주(0)가 76.09%를 차지하고 있으므고 클래스가 불균형(imbalanced)한 분류 문제

In [8]:
## 이 곳에서 과제를 진행해주세요.

from pandas_profiling import ProfileReport

profile = ProfileReport(train, minimal=True)
#profile

In [9]:
train.select_dtypes("float").head(20)

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,chronic_med_condition,child_under_6_months,health_insurance,health_worker,education_comp,marital,rent_own_r,n_adult_r,household_children,n_people_r
20365,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,NaN,0.0,4.0,2.0,1.0,4.0,0.0,4.0
29138,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,2.0,2.0,2.0,2.0,2.0,4.0
36128,2.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,1.0
39793,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,4.0,1.0,1.0,2.0,0.0,2.0
32973,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,2.0,3.0,5.0
31450,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,2.0,2.0,1.0,1.0,2.0,3.0
17541,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,3.0,1.0,2.0,3.0,0.0,3.0
33946,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,1.0,1.0,2.0
5300,2.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,2.0,0.0,2.0
34292,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,1.0,0.0,NaN,0.0,1.0,2.0,2.0,1.0,0.0,1.0
19463,2.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,1.0,1.0,2.0,2.0,4.0
9609,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,2.0,1.0,2.0,0.0,2.0
34149,3.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,3.0,2.0,1.0,1.0,0.0,1.0
30019,2.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,3.0,1.0,2.0,2.0,1.0,3.0
22287,2.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,3.0,2.0,1.0,4.0,0.0,4.0
14807,3.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,4.0,2.0,1.0,1.0,0.0,1.0
4945,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0
26695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,3.0,5.0
9029,2.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,2.0,1.0,1.0,2.0,0.0,2.0
18078,0.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,NaN,0.0,4.0,2.0,2.0,1.0,0.0,1.0

In [10]:
train.describe(exclude="number").T.sort_values(by="unique")

,count,unique,top,freq
employment_status,25466,3,Employed,13722
census_msa,33723,3,"MSA, Not Principle City",15202
opinion_h1n1_vacc_effective,26637,6,Somewhat Effective,11710
opinion_h1n1_risk,26602,6,Somewhat Low,9980
opinion_h1n1_sick_from_vacc,26568,6,Not Very Worried,9229
opinion_seas_vacc_effective,26519,6,Somewhat Effective,11571
opinion_seas_risk,26466,6,Somewhat Low,9057
opinion_seas_sick_from_vacc,26413,6,Not At All Worried,11813
agegrp,33723,7,65+ Years,6821
employment_industry,13714,23,Health Care and Social Assistance Industries,2451
employment_occupation,13714,25,Management Occupations,1769
state,33723,51,CALIFORNIA,829

In [11]:
train.duplicated().sum()

192

In [12]:
train = train.fillna(0)

In [13]:
import numpy as np


def engineer(df):
    """특성을 엔지니어링 하는 함수입니다."""

    # 높은 카디널리티를 가지는 특성을 제거합니다.
    selected_cols = df.select_dtypes(include=["number", "object"])
    labels = selected_cols.nunique()  # 특성별 카디널리티 리스트
    selected_features = labels[labels <= 30].index.tolist()  # 카디널리티가 30보다 작은 특성만 선택합니다.
    df = df[selected_features]

    # 새로운 특성을 생성합니다.
    behaviorals = [col for col in df.columns if "behavioral" in col]
    df["behaviorals"] = df[behaviorals].sum(axis=1)

    dels = [col for col in df.columns if ("employment" in col or "seas" in col)]
    df.drop(columns=dels, inplace=True)

    return df


train = engineer(train)
val = engineer(val)
test = engineer(test)

In [14]:
# 훈련/검증/테스트 데이터를 특성과 타겟으로 분리합니다

features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

## **Part 2. 기준모델**
- H1N1 분류기의 기준모델을 생성하세요.

##### **Q1. 기준모델의 정확도를 반올림하여 소수점 둘째 자리까지 제출해 주세요.**

In [15]:
## 이 곳에서 과제를 진행해주세요.

# 기준모델
from sklearn.metrics import accuracy_score

base = y_train.mode()[0] #훈련데이터의 최빈클래스
baseline = len(y_train) * [base]
baseline_acc = accuracy_score(y_train, baseline)
print(f'기준모델의 정확도 : {baseline_acc.round(2)}')

기준모델의 정확도 : 0.76

## **Part 3. Decision Trees**
- 파이프라인을 사용하여 결정트리를 학습시키세요. 
  - `random_state=2`로 설정합니다. 
  - 하이퍼파라미터를 조정하여 모델의 성능을 높여 보세요. 
  - 과적합에 주의하세요!
- 검증세트 스코어를 확인하세요.
  - 평가지표는 F1-score입니다. 
  - 수식은 캐글 Overview-Evaluation 페이지를 확인해 주세요. 평가지표에 대한 내용은 다음에 자세히 배우고 활용할 것입니다. 지금은 스코어를 올리기 위한 노력을 전혀 기울이지 말고 결정트리의 개념과 코드 이해, 사용에 집중하세요!
- 특성중요도를 그래프로 나타내 보세요.

##### **Q2. 검증세트의 F1-score를 반올림하여 소수점 둘째 자리까지 제출해 주세요. (0.5 이상 통과)**

In [25]:
## 이 곳에서 과제를 진행해주세요.

from category_encoders import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [33]:
from sklearn.metrics import classification_report

pipe_dt = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    DecisionTreeClassifier(random_state = 2, criterion = "entropy", max_depth = 6),
)
pipe_dt.fit(X_train, y_train)

print("훈련 정확도: ", pipe_dt.score(X_train, y_train))
print("검증 정확도: ", pipe_dt.score(X_val, y_val))

y_pred = pipe_dt.predict(X_test)

훈련 정확도:  0.8199448447647006
검증 정확도:  0.8243387498517376

In [34]:
y_pred = pipe_dt.predict(X_val)
print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      6416
           1       0.73      0.42      0.53      2015

    accuracy                           0.82      8431
   macro avg       0.79      0.69      0.71      8431
weighted avg       0.81      0.82      0.81      8431

## **Part 4. Random Forests**
- 파이프라인을 사용하여 랜덤포레스트를 학습시키세요. 
  - Ordinal Encoding을 적용합니다. 
  - 랜덤포레스트가 결정트리보다 성능이 오히려 떨어졌을 수도 있습니다! 만약 그렇다면 이유를 본인 논리로 분석해 보세요.
- 검증세트 스코어를 확인하세요.
  - 평가지표는 F1-score입니다.

##### **Q3. (객관식) 다음 특성들 중에 순서를 고려한 Ordinal Encoding이 필요해 보이는 특성을 선택하여 제출해 주세요.**
    1. opinion_h1n1_vacc_effective
    2. state
    3. marital
    4. employment_occupation

##### **Q4. 검증세트의 F1-score를 반올림하여 소수점 둘째 자리까지 제출해 주세요.**

In [31]:
# max_depth는 None이 default입니다. 즉, 마지막까지 분기한다는 뜻입니다.
# 과적합을 줄이기 위해 max_depth를 6으로 줬습니다.

from sklearn.ensemble import RandomForestClassifier

pipe_rf = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    RandomForestClassifier(random_state=42, oob_score=True, n_jobs=-1),
)

pipe_rf.fit(X_train, y_train)
print("훈련 정확도: ", pipe_rf.score(X_train, y_train))
print("검증 정확도: ", pipe_rf.score(X_val, y_val))

훈련 정확도:  0.9903626604987694
검증 정확도:  0.8065472660419879

In [32]:
y_pred = pipe_rf.predict(X_val)
print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.96      0.88      6416
           1       0.73      0.30      0.43      2015

    accuracy                           0.81      8431
   macro avg       0.77      0.63      0.66      8431
weighted avg       0.79      0.81      0.77      8431

## **Part 5. 결과 제출**
- 결과가 가장 좋았던 모델을 사용하여 테스트셋에 대한 예측 결과를 캐글에 제출하세요.
  - 스코어가 많이 낮게 나와도 트리기반 모델을 잘 이해하고 결과를 내었다면 충분합니다!

##### **Q5. 캐글 Leaderboard의 본인 score를 제출해 주세요.**

In [35]:
# csv 파일 저장을 위한 구글 드라이브 마운트
import sys

if "google.colab" in sys.modules:
    from google.colab import drive
    drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
## 이 곳에서 과제를 진행해주세요.

pred = pipe_rf.predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [37]:
result = {'Id' : [i for i in range(len(pred))], 'vacc_h1n1_f' : pred}
result = pd.DataFrame(result)
result

          Id  vacc_h1n1_f
0          0            0
1          1            0
2          2            0
3          3            0
4          4            0
...      ...          ...
28099  28099            0
28100  28100            0
28101  28101            0
28102  28102            0
28103  28103            0

[28104 rows x 2 columns]

# 🥇 **도전 과제**

## **Part 6. Encoding**
- 랜덤포레스트에서 OneHot Encoding과 Ordinal Encoding을 각각 적용해 보고, 학습 수행시간의 차이를 비교해 보세요.

## **Part 7. 모델 성능 향상**
- 랜덤포레스트의 하이퍼파라미터를 조정하여 성능을 향상시키세요. 
  - F1-score 0.58 이상을 달성해 보세요!